.menu{
    display: flex;
    padding: 16px;
    font-family: sans-serif;
    color: white;
    margin: 0 auto;
    position: absolute;
    width: 100%;
    box-sizing: border-box;
    z-index:1;
}
.flx{
    display: flex;
    flex-wrap: wrap;

}
.centered{
    top: 50%;
    left: 50%;
    position: absolute;
}
.bgr{
    color : #63d488;
}
.border{
    box-shadow: 0 0 6px rgba(35, 173, 255, 1);
}
.main{
    min-height: 400px;
    position: relative;
    background-color : #63d488;
}
.wM_toggle{
    display: none;
}
.profile{
    border-radius: 50%;
}
@media only screen and (max-width: 768px) {
    .menu,
    .nav_items {
        flex-direction: column;
    }
    .wM_toggle{
        align-self: flex-end;
        display: initial;
        position: absolute;
        cursor: pointer;
    }

    .nav_items{
        display: none !important;
    }
    .right_nav{
        margin-left: 0 !important;
    }

}
.db{
    display: block !important;
}
.wM{
    padding-right: 20px;

}
.nav_items{
    display: flex;
}
.right_nav{
    margin-left: auto;
}
.w30{
    width: 40%;
}
.ma{
    margin: 0 auto;
}
.card{
    display: flex;
    position: absolute;
    width:50%;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    background-color: aqua;
}
.w80{
    width: 80%;
}
.w100{
    width: 100%;
}
.fww{
    font-weight: 100;
    color: white;
}
.fs28{
    font-size: 32px;
}
.mt200{
    margin-top: 100px;
}

.ma{
    margin-left: auto;
    margin-right: auto;
}
.fs22{
    font-size: 22px;
}
.ff{
    font-family: "Maison Neue", Helvetica Neue, Helvetica, Arial, sans-serif;
}
.mt20{
    margin-top: 20px;
}
.mt10{
    margin-top: 10px;
}
.dib{
    display: inline-block;
}
.bg{
    color: #c9c9c9;
}
.w70{
    width: 70%;
}
.fs24{
    font-size: 24px;
}
.m50{
    margin: 50px 50px;
}
.fws{
    font-weight: 300;
}
.ml20{
    margin-left: 10%;
}
.w50{
    width: 50%;
}
.cl{
    line-height: 1.5em;
}
.pl10{
    padding-left: 10px;
    padding-right: 10px;
}
.pt5{
    padding-top: 5px;
}
.pl20{
    padding-left: 20px;
}
.fs20{
    font-size: 20px;
}
.tc{
    text-align: center;
}
.w30{
    width: 30%;
}
.pl20{
    padding: 20px;
}
.ml10{
    margin-left: 10%;
}
.images{
    width: 25%;
    margin-left: 5%;
    padding-left: 20px;
}

@media only screen and (max-width: 945px) {
    .images{
        width: 40%;
        margin-left: 7%;
        padding-left: 20px;
    }
}
@media only screen and (max-width: 700px) {
    .images{
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

}

.vh{
    visibility: hidden;
}
@media only screen and (min-width : 700px) {
    .languages{
        font-family: "Maison Neue", Helvetica Neue, Helvetica, Arial, sans-serif;
        text-align: center;
        margin-top: 10px;
        width: 250px !important;
    }

}
.languages{
    font-family: "Maison Neue", Helvetica Neue, Helvetica, Arial, sans-serif;
    text-align: center;
    margin-top: 10px;
}