.menu{
    display: flex;
    padding: 16px;
    font-family: sans-serif;
    color: white;
    margin: 0 auto;
    position: absolute;
    width: 100%;
    box-sizing: border-box;
    z-index:1;
}
.flx{
    display: flex;
}
.centered{
    top: 50%;
    left: 50%;
    position: absolute;
}
.main{
    min-height: 400px;
    position: relative;
    background-color : #63d488;
}
.wM_toggle{
    display: none;
}
.profile{
    border-radius: 50%;
}
@media only screen and (max-width: 768px) {
    .menu,
    .nav_items {
        flex-direction: column;
    }
    .wM_toggle{
        align-self: flex-end;
        display: initial;
        position: absolute;
        cursor: pointer;
    }

    .nav_items{
        display: none !important;
    }
    .right_nav{
        margin-left: 0 !important;
    }

}
.db{
    display: block !important;
}
.wM{
    padding-right: 20px;

}
.nav_items{
    display: flex;
}
.right_nav{
    margin-left: auto;
}
.w30{
    width: 40%;
}
.ma{
    margin: 0 auto;
}
.card{
    display: flex;
    position: absolute;
    width:50%;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    background-color: aqua;
}
.w100{
    width: 80%;
}
.fww{
    font-weight: 100;
    color: white;
}
.fs28{
    font-size: 32px;
}
.mt200{
    margin-top: 100px;
}

.ma{
    margin-left: auto;
    margin-right: auto;
}
.fs22{
    font-size: 22px;
}
.ff{
    font-family: "Maison Neue", Helvetica Neue, Helvetica, Arial, sans-serif;
}
.mt20{
    margin-top: 20px;
}
.mt10{
    margin-top: 10px;
}
.dib{
    display: inline-block;
}